* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: 'SF-Pro-Text-Light';
}

@font-face {
  font-family: 'SF-Pro-Text-Light';
  font-style: normal;
  font-weight: normal;
  src: url('./common/data/fonts/SF-Pro-Text-Light.otf')
}
